.todolist-wrapper {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 800px) {
  .todolist-wrapper {
    width: 90%;
  }
}

.form-wrapper {
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.demo-wrapper {
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 80px;
}
